/*2F2F2F*/
footer{
    background-color: #797A7E;
    color: whitesmoke;
    text-align: center;
}

h1{
   
    color:whitesmoke;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: auto;
}


.claro{
    color: whitesmoke;
}
.histroria{
    
    background-color: #1C1C1C;
    color: whitesmoke;
    
    
}

    .inicio{
      
        background-color: #1C1C1C ;
        font-size: 20px;
        
    }
    .sub{
        color: #D8C8BE;
        font-weight: bolder;
        
        
    }

 
 


 .letra{
     color: #fff;
     font-size: 20px;
 }
 .colornav{
     background-color: #000000;
 }
 .oscuro{
    background-color: #1C1C1C;
 }
 .mitad{
     text-align: center;
 }
 .secun{
     background-color: #210000  ;
 }
 .botones{
     width: 100px;
     height: 100px;
 }